.flex {
  display: flex;
  align-items: center;
}

.jb-c {
  justify-content: center;
}

.ic {
  align-items: center;
}

a {
  text-decoration: none;
}

.nav {
  /* 'w-full h-full container mx-auto flex items-center justify-between' */
  width: 100%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* w-full h-full object-fit */
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.links-desktop {
  /* hover:${Links.hoverColor} capitalize cursor-pointer */
  text-transform: capitalize;
  cursor: pointer;
}

.cta {
  /* hover:bg-opacity-80 cursor-pointer */
  cursor: pointer;
}
.cta-hover {
  opacity: 0.8;
}
